{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Morpho</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'assets/img/final logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/final logo.png' %}" alt="">
        &nbsp;&nbsp;
        <span >Morpho</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
       
          <li style="margin-right: 50px;"><a class="nav-link scrollto" href="#">Home</a></li>
          <li style="margin-right: 50px;"><a class="nav-link scrollto" href="#about">About</a></li>
          <li style="margin-right: 50px;"><a class="nav-link scrollto" href="#features">Features</a></li>
          <li style="margin-right: 50px;"><a class="nav-link scrollto" href="/login">Login</a></li>
          <!-- <li><a class="nav-link scrollto" href="#fun">Team</a></li> -->
          <li style="margin-right: 50px;"><a class="nav-link scrollto" href="#fun">Team</a></li>
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern and easy method for the payroll distribution</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented engineers worjing to give a fesable solution to the problem</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/templates/login.html" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Morpho</h3>
              <h2>A payroll system</h2>
              <p>
                Over the last few years you might have seen many significant sites that provide the sytem for the payroll system ,we at Morpho identified the those rare unsolved problems that users face during the usage of normal sites and came up with a revolusionary solution.
              </p>
              
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->




    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h1>Features</h1> -->
          <h2>FEATURES</h2>
          <p>Our Amazing features that we offer</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Admin Interface</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Seperate Dashbords</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Vizualization Tool</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Easy Modification</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Easy Data retrival</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Responsive on Pc and mobile</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

      
</section><!-- End Features Section -->
    <!-- ======= Team Section ======= -->
    
    <section id="fun"  class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2  >Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEUMEb3TRvtNA/profile-displayphoto-shrink_200_200/0/1607930807751?e=1633564800&v=beta&t=kIpAIOATK0clCv9PnZYXnkNMrr4oMT4WD9bfTeg14QE" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/adarsh_here"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/adarshvulli/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/adarshvulli/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Adarsh Vulli</h4>
                <span>The Plan Executor</span>
                <p>I am Adarsh, I am overly-enthusiastic and eager to learn, but there is so much that I don't know. Hence, the world is mine to consume, opening my horizons to the future</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEl6J4MXOAtLA/profile-displayphoto-shrink_200_200/0/1598947565544?e=1633564800&v=beta&t=XRbuKe70SfBxtoPCMZ7mYMEOIGaFksNgmJsFoI4RxKU" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/varun52226275"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/_srivarun_/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/varun1307/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>K.Sri Varun</h4>
                <span>The Backend Machine</span>
                <p>I am a student, web developer, and software engineer currently living in Hyderabad. My interests range from technology to web development. I am also interested in sports, food, and programming.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFU3OXb2--bhg/profile-displayphoto-shrink_200_200/0/1603166587534?e=1633564800&v=beta&t=lHS5B4jFK-MQZxpk8-Eifs-ovYZUcTG5skyzB7NqH5I" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/Abhiraj93129037"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/abhirajsinghchauhann/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhirajsinghchauhan/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Abhiraj Singh Chauhan</h4>
                <span>The Bug Terminator</span>
                <p>Hey there! My self Abhiraj. I am an undergraduate majoring in Computer Science and Engineering. I have done several front end designing projects and love to explore more in that. Currently I am enhancing my knowledge over web accessibility and it's fundamentals.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQHS9Ql_nolEjQ/profile-displayphoto-shrink_200_200/0/1592572979801?e=1633564800&v=beta&t=x83TJ0yvHI2XDpwxvGQlxE8YCrJBXyDsHSxTp1I9y1E" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/nischalram3"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/__nischal_ram/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/nischalvooda/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nischal vooda</h4>
                <span>The Deployment Machine</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">👨🏻‍💻Script Snipers💻</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>